{
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "extends": [
      "eslint:recommended", 
      "plugin:react/recommended",
      "plugin:react-redux/recommended"
  ],
  "parser": "babel-eslint",
  "parserOptions": {
      "ecmaFeatures": {
          "jsx": true,
          "modules": true,
          "experimentalObjectRestSpread": true
      },
      "ecmaVersion": 2018,
      "sourceType": "module"
  },
  "plugins": [
      "react",
      "react-hooks",
      "react-redux"
  ],
  "rules": {
    "no-console": "off",
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "react-redux/mapDispatchToProps-prefer-shorthand": 0,
    "react-redux/prefer-separate-component-file": 0
  },
  "settings": {
    "react": {
        "pragma": "React",
        "version": "detect"
    } 
  } 
}